@font-face {
  font-family: 'padrao';
  src: url(../fonts/Barlow-Regular.ttf); }

@font-face {
  font-family: 'decorativa';
  src: url(../fonts//Montez-Regular.ttf); }

body {
  font-family: "padrao";
  margin: 0; }

#menu {
  padding: 10px;
  color: #333;
  vertical-align: middle; }
  #menu * {
    vertical-align: middle; }
  #menu img {
    width: 80px; }
  #menu ul {
    width: 70%; }
    #menu ul a {
      text-align: center;
      margin: 10px;
      color: #333;
      font-size: 120%;
      text-decoration: none; }
    #menu ul a:hover {
      font-weight: bold; }
  #menu img, #menu ul, #menu li {
    display: inline-block;
    vertical-align: middle; }

#banner {
  font-family: "decorativa";
  text-align: center;
  font-size: 160%; }
  #banner img, #banner h1 {
    display: inline-block;
    vertical-align: middle; }
  #banner p {
    margin: 0px;
    font-size: 90%;
    font-weight: bold;
    font-family: "padrao"; }
  #banner img {
    height: 190px; }

#centro {
  padding: 15px; }
  #centro p {
    font-size: 110%; }

#textoPrincipal {
  margin: 50px auto 50px 20px; }

#container {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  #container * {
    vertical-align: middle;
    flex-direction: column; }
  #container a {
    text-decoration: none;
    color: black;
    font-size: 120%; }
  #container p {
    width: 350px; }
  #container img {
    width: 130px; }

#redes {
  margin: 2px auto 20px 20px; }
  #redes * {
    vertical-align: middle;
    display: inline; }
  #redes img {
    width: 45px;
    margin-right: 10px; }
  #redes:hover {
    filter: opacity(0.9); }

#biografia {
  display: flex;
  justify-content: center; }

#portfolio img {
  width: 800px;
  border-radius: 10px; }

#portfolio a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

#sessao {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center; }
  #sessao p {
    font-size: 115%;
    text-align: justify;
    margin-right: 30px; }

#sessao2 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center; }
  #sessao2 p {
    font-size: 115%;
    text-align: justify;
    margin-left: 30px; }

#texto {
  font-size: 105%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center; }
  #texto img {
    width: 250px;
    border-radius: 10px; }
  #texto #paragrafo p {
    text-align: justify;
    padding: 5px 70px 20px 0px; }

#rodape {
  background-color: #c60c30;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #rodape * {
    vertical-align: middle; }
  #rodape #parte {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold; }
    #rodape #parte img {
      width: 70px;
      margin-right: 10px; }
  #rodape #parte2 {
    display: flex;
    justify-content: flex-end;
    align-items: baseline; }
    #rodape #parte2 img {
      width: 25px;
      margin-right: 5px; }
      #rodape #parte2 img:hover {
        filter: contrast(80%); }
