extends layout

block conteudo
    h1 Biografia
    
    #sessao
        img(src="", alt="", srcset="")
        h1 Quem eu sou? 
        p Meu nome é Laís Matie Hara, sou acadêmica do Curso Superior de Tecnologia em Sistemas para Internet, sou técnica em informática pelo Instituto Federal. Tenho um projeto que busca o aumento da presença feminina da área tecnológica, chamado Developer Girls. 

