extends layout

block conteudo
    #textoPrincipal
        h1 Biografia
        h1 Quem eu sou? 
        
        #texto
            p Meu nome é Laís Matie Hara, sou acadêmica do Curso Superior de Tecnologia em Sistemas para Internet, sou técnica em informática pelo Instituto Federal. Tenho um projeto que busca o aumento da presença feminina da área tecnológica, chamado Developer Girls.
            | Atualmente trabalho em uma escola, como Técnica de Suporte em Tecnologia, mas pretendo crescer na área de desenvolvimento e me inserir na área da programação realmente. 
            | Por já estar envolvida com a área, pude notar que poucas mulheres escolhem a computação, eu mesma acabei caindo de parquedas. 
            | Em busca de um ensino de melhor qualidade, fui para o Instituto Federal e no período que eu poderia ir, apenas a opção do curso de informática se encaixava, por sorte acabei de identificando e gostando da área. 

