extends layout

block conteudo
    #textoPrincipal
        h1 Quem sou eu? 
        #biografia
            #texto
                #paragrafo
                    p Meu nome é Laís Matie Hara, sou acadêmica do Curso Superior de Tecnologia em Sistemas para Internet e técnica em informática pelo Instituto Federal. Possuo um projeto que busca o aumento da presença feminina da área tecnológica, chamado Developer Girls. Atualmente trabalho em uma Escola Estadual de Mato Grosso do Sul, como Técnica de Suporte em Tecnologia, mas pretendo me inserir na área da programação realmente. Por já estar envolvida com a área, pude notar que poucas mulheres escolhem a computação.
                    p Em busca de um ensino de melhor qualidade, fui para o Instituto Federal e no período que eu poderia ir, apenas a opção do curso de informática se encaixava, por sorte acabei me identificando e gostando da área. 
                img(src="../img/lais.jpeg", alt="Laís")
        #biografia
            #texto
                #paragrafo
                    p A vontade de continuar na área aconteceu após o desenvolvimento do projeto, pois conheci mulheres que foram muito importantes para a evolução tecnológica. 
                img(src="../img/dev.jpeg", alt="Developer Girls")        