extends layout

block conteudo
    #textoPrincipal
        h1 Contato
    
    #redes
        a(href="https://mail.google.com",target="_blank")
            img(src="../img/email.png", alt="E-mail") 
        p Email: lais.hara@estudante.ifms.edu.br
    #redes
        a(href="https://www.linkedin.com/in/laís-matie-hara",target="_blank")
            img(src="../img/linkedin.png", alt="Linkedin")
        p Linkedin: Laís Matie Hara   
    #redes
        a(href="https://www.facebook.com/lais.matie/",target="_blank")
            img(src="../img/facebook.png", alt="Facebook")
        p Facebook: Laís Matie
    #redes
        a(href="https://www.instagram.com/laismatie/",target="_blank")
            img(src="../img/insta.png", alt="Instagram")
        p Instagram: @laismatie