doctype html

html
    head
        link(rel="stylesheet", href="styles/estilos.css")
        link(rel="shortcut icon", href="../img/logo.png", type="image/x-png")
        title Laís Matie Hara
    body
        #menu
            img(src="../img/logo.png", alt="Laís Matie Hara")
            ul
                li
                    a(href='/') Home
                li
                    a(href='/bio') Bio
                li
                    a(href='/contato') Contato    
                li
                    a(href='/portfolio') Portfólio   
                        
        #banner
            h1 Laís Matie Hara 
            img(src="../img/banner.jpg", alt="Laís Matie Hara")
            p Sistemas para Internet
           

        #centro
            #conteudo
                block conteudo 

        #rodape
            h4 &copy;Laís Matie Hara
            img(src="../img/emails.png", alt="E-mail")
            p E-mail: lais.hara@estudante.ifms.edu.br