doctype html

html
    head
        link(rel="stylesheet", href="styles/estilos.css")
        link(rel="shortcut icon", href="../img/logo.png", type="image/x-png")
        title Laís Matie Hara
    body
        #menu
            img(src="../img/logo.png", alt="Laís Matie Hara")
            ul
                li
                    a(href='/') Home
                li
                    a(href='/bio') Bio
                li
                    a(href='/contato') Contato    
                li
                    a(href='/portfolio') Portfólio   
                        
        #banner
            h1 Laís Matie Hara 
            img(src="../img/banner.jpg", alt="Laís Matie Hara")
            p Estudo programação e busco o aumento da presença feminina na área tecnológica.
           

        #centro
            #conteudo
                block conteudo 

        #rodape
            #parte
                img(src="../img/logorodape.png", alt="Logo")
                p &copy;Laís Matie Hara
            #parte2
                img(src="../img/emailrodape.png", alt="E-mail")
                img(src="../img/linkedinrodape.png", alt="Linkedin")
                img(src="../img/facebookrodape.png", alt="Facebook")
                img(src="../img/instarodape.png", alt="Instagram")