doctype html

html
    head
        link(rel="stylesheet", href="styles/estilos.css")
        link(rel="shortcut icon", href="../img/logo.png", type="image/x-png")
        title Laís Matie Hara
    body
        #menu
            a(href="/")
                img(src="../img/logo.png", alt="Laís Matie Hara")
            ul
                li
                    a(href='/') Home
                li
                    a(href='/bio') Bio
                li
                    a(href='/contato') Contato    
                li
                    a(href='/portfolio') Portfólio   
                        
        #banner
            h1 Laís Matie Hara 
            img(src="../img/banner.jpg", alt="Laís Matie Hara")
            p Estudo programação e busco o aumento da presença feminina na área tecnológica.
           

        #centro
            #conteudo
                block conteudo 

        #rodape
            #parte
                a(href="/")
                    img(src="../img/logorodape.png", alt="Logo")
                p &copy;Laís Matie Hara
            #parte2
                a(href="https://mail.google.com",target="_blank")
                    img(src="../img/emailrodape.png", alt="E-mail")
                a(href="https://www.linkedin.com/in/laís-matie-hara",target="_blank")
                    img(src="../img/linkedinrodape.png", alt="Linkedin")
                a(href="https://www.facebook.com/lais.matie/",target="_blank")
                    img(src="../img/facebookrodape.png", alt="Facebook")
                a(href="https://www.instagram.com/laismatie/",target="_blank")
                    img(src="../img/instarodape.png", alt="Instagram")