extends layout

block conteudo
    #textoPrincipal
        h1 Portfólio 
        #portfolio
            #sessao
                p O projeto de pesquisa Developer Girls é um website com iniciativas de mulheres na tecnologia, e relatos de experiências que dispõe-se a fazer com que as mulheres busquem mais a área de Tecnologia da informação (TI) e desenvolvam seus próprios projetos. Pode-se observar que as mulheres, por alguma razão, não se incluem na área de TI, de modo que este projeto busca entender o porquê desse fato ocorrer. Visando mapear as dificuldades dessas mulheres em prosseguirem na área, desenvolveu-se um formulário pelo Google Forms contendo questões disponibilizadas para estudantes e profissionais de tecnologia.
                    a(href="https://developergirls.herokuapp.com/home.html")  Clique aqui para conhecer!
                img(src="../img/devgirls.png", alt="Developer Girls")
            #sessao2
                img(src="../img/campeao.png", alt="Campeões da Copa do Mundo")
                p Avaliação da disciplina de Construção de Páginas Web 3, foi implementado um site que lista todos os campeões de Copas do Mundo de Futebol Masculino da história.
                    a(href="https://oscampeoesdomundo.web.app/")  Clique e confira. 
            #sessao
                p Avaliação da disciplina de Construção de Páginas Web 2, foi implementado um site para controle de uma lista de comprar para utilização no supermercado.
                    a(href="https://listadecomprascpw2.web.app/")  Clique aqui.
                img(src="../img/compras.png", alt="Lista de Compras")   
            #sessao2
                img(src="../img/trabalho.png", alt="Exercícios")
                p Avaliação da disciplina de Construção de Páginas Web 2, foi implementado um site contendo exercícios de programação.
                    a(href="https://trabalhocpw2.web.app/")  Clique aqui!  
            #sessao
                p Avaliação da disciplina de Construção de Páginas Web 2, foi implementado o layout do site da loja Quase Tudo, localizada em Miranda/MS. 
                    a(href="https://quasetudo-ms.web.app/")  Confira aqui.
                img(src="../img/quasetudo.png", alt="Loja Quase Tudo")            